

table {
  padding: 5px 20px 5px 20px;
  font-size: middle;
}

h2 {
  padding: 0px 0px 0px 10px;
  font-size: large;
}

h4 {
  padding: 0px 0px 0px 15px;
  font-size: middle;
}

p {
  padding: 0px 0px 0px 20px;
}

.icon{
  margin: 0px 0px 0px 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}